<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
      <div v-for="item in info" class="item">
        <p>{{ item  }}</p>
      </div>
    </div>

  <script>
    new Vue({
      el: '#app',
      data() {
        return {
          info: null
        };
      },
      mounted() {
        fetch('http://78.47.87.74/api/weatherforecast')
          .then(response => response.json())
          .then(json => (this.info = json));
      }
    });
  </script>
</body>
</html>
